html,
body,
#root,
.App {
  height: 100%;
}

.toolbar > * {
  margin-right: 1em;
}

.left {
  padding: 1em;
  margin-right: 1em;
  border-right: #ccc solid 1px;
  height: 100%;
  box-sizing: border-box;
  max-width: 50%;
  overflow: auto;
}

.right {
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

button {
  padding: 0.5em 1em;
  font-size: 12pt;
  border: #ccc solid 1px;
}

.barcode-input {
  font-size: 12pt;
  padding: 0.4em;
  border: #ccc solid 1px;
  width: 20em;
}

.label-quantity {
  font-size: 12pt;
  padding: 0.5em 0.4em;
  border: #ccc solid 1px;
  width: 3em;
}

.renderer-select {
  font-size: 12pt;
  padding: 0.4em;
  border: #ccc solid 1px;
  width: 9em;
}

.label-wrapper {
  display: block;
  width: 10cm;
  height: 10cm;
  margin: 1em auto;
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
}

.label {
  text-align: center;
}

.from {
  text-align: center;
  font-size: 1cm;
}

.to {
  font-size: 1cm;
  text-align: center;
}

@media print {
  @page {
    size: 10cm 10cm;
  }

  .label-wrapper {
    width: 10cm;
    height: 10cm;
    padding: 0;
    margin: 0;
    page-break-after: always;
    box-shadow: none;
  }
}
